.twitter-typeahead{
        width: 100%;
}
.typeahead,
.tt-input,
.tt-hint {
        /*width: 396px;*/
        width: 100%;
        height: 40px;
        padding: 8px 12px!important;
        font-size: 18px!important;
        line-height: 40px!important;
        border: 2px solid #ccc!important;
        -webkit-border-radius: 8px!important;
        -moz-border-radius: 8px!important;
        border-radius: 8px!important;
        outline: none!important;
}

.typeahead {
        background-color: #fff;
}

.typeahead:focus {
        border: 2px solid #0097cf;
}

.tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
        color: #999
}

.tt-dropdown-menu {
        /*width: 422px;*/
        min-width: 400px;
        margin-top: 12px;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
}

.tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;

}

.tt-suggestion p {
        margin: 0;
}


/* example specific styles */
/* ----------------------- */

.tt-suggestion {
        padding: 8px 20px;
}

.tt-suggestion + .tt-suggestion {
        border-top: 1px solid #ccc;
}

.repo-language {
        float: right;
        font-style: italic;
}

.repo-name {
        font-weight: bold;
}

.repo-description {
        font-size: 14px;
}
