/* here you can put your own css to customize and override the theme */
img.logo{
    height: 50px !important;
}

.btn-block {
    border-radius: 4px !important;
    border: 2px solid #4B8DF8 !important;
}

.btn-lg {
    font-size: 18px;
    line-height: 1.33;
    padding: 5px 10px;
    vertical-align: middle;
}

input {
    border-radius: 4px !important; height: 37px !important;
    border: 2px solid #ffffff !important;
}

input.form-control, textarea.form-control {
    border-color: #dbdbdb;
    border-radius: 0;
    box-shadow: none;
    color: #777;
    font: 15px Arial,sans-serif;
}

.bottom-buttons{
    text-align: center; margin-bottom: 10px;
}

.top_content_area_upper_section{
    text-align: center;
}

.top-content-wrapper{
    min-height: 200px; border: 0px solid #fff;opacity: 1.0;z-index: 2000;
}

.top_content_area_upper_section h1{
    color: #34D7B3; font-size: 40px;font-weight: bolder;
}

.top_content_area_upper_section h3{
    color: #ffffff; font-size: 25px;
}

.top_content_area_upper_section p{
   color: #ffffff; 
}

.btn-left{
   background-color: #50BE0A; border: 1px solid #50BE0A !important;
   color: #000000; padding-top: 5px;
}

.btn-right{
    background-color: #ffffff; border: 1px solid #ffffff !important; 
    color: #3980DB; padding-top: 5px;
}

.grey_bars{
    background-color: #DADADA; min-height: 100px;
}

.grey_bars_top{
	margin-top: -40px;
}

.grey_bar_top_content{
    min-height: 50px; margin-top: 25px; margin-bottom: 25px;
}

.grey_bar_top_content_left{
    border-right: 1px solid #BFC0BF; 
}

.col-centered{
    float: none; margin: 0 auto; height: 50px; font-size: 18px; text-align: center; padding-top: 10px;
}

.fa{
    font-size: 25px !important;
}

.main{
    min-height: 100px; height: auto !important; margin-bottom: 0px !important;
}

.client-item, .client-item img{
    background-color: #E6E6E6 !important;
}

.client-item-border{
    border-right: 1px solid #D0D0D0;
}




/*THIS IS THE CSS THAT DICTATES SECTIONS THAT ARE DEVICE SPECIFIC*/

/* Screens less than Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-device-width : 320px) {
/* Styles */
/*This is the CSS for the top content area*/
    .top_content_area{
        position: absolute; border: 0px solid #ff0000; margin-top: -40px; margin-bottom: 200px !important;
        background-color: #000000; min-height: 200px; height: auto; color: #ffffff !important; padding: 20px;
    }

/*This is the CSS for the dark ribbon*/    
    .dark_ribbon{
        position: relative; width: 100%; margin-top: 400px; /* For IE8 and earlier */
        background-color: #000000; min-height: 140px; height: auto; color: #ffffff !important;
    }

    .dark_ribbon_top_content{
        min-height: 100px; margin-top: 25px; margin-bottom: 10px;
    }

    .dark_ribbon_top_content_left{
        border-right: 1px solid #BFC0BF; 
    }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
/* Styles */
/*This is the CSS for the top content area*/
    .top_content_area{
        position: absolute; border: 0px solid #ff0000; margin-top: -40px; margin-bottom: 200px !important;
        background-color: #000000; min-height: 200px; height: auto; color: #ffffff !important; padding: 20px;
    }

/*This is the CSS for the dark ribbon*/    
    .dark_ribbon{
        position: relative; width: 100%; margin-top: 400px; /* For IE8 and earlier */
        background-color: #000000; min-height: 140px; height: auto; color: #ffffff !important;
    }
    
    .dark_ribbon_top_content{
        min-height: 100px; margin-top: 25px; margin-bottom: 10px;
    }

    .dark_ribbon_top_content_left{
        border-right: 1px solid #BFC0BF; 
    }

}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
/*This is the CSS for the top content area*/
    .top_content_area{
        position: absolute; border: 0px solid #ff0000; margin-top: -40px; margin-bottom: 200px !important;
        background-color: #000000; min-height: 200px; height: auto; color: #ffffff !important; padding: 20px;
    }

/*This is the CSS for the dark ribbon*/    
    .dark_ribbon{
        position: relative; width: 100%; margin-top: 400px; /* For IE8 and earlier */
        background-color: #000000; min-height: 140px; height: auto; color: #ffffff !important;
    }

    .dark_ribbon_top_content{
        min-height: 100px; margin-top: 25px; margin-bottom: 25px;
    }

    .dark_ribbon_top_content_left{
        border-right: 1px solid #BFC0BF; 
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
/*This is the CSS for the top content area*/
    .top_content_area{
        position: absolute; border: 0px solid #ff0000; margin-top: -510px;
        background-color: transparent; min-height: 200px; height: auto; color: #ffffff !important;
    }
    
/*This is the CSS for the dark ribbon*/
    .dark_ribbon{
        position: absolute; width: 100%; margin-top: -240px;opacity: 0.85; filter: alpha(opacity=85); /* For IE8 and earlier */
        background-color: #000000; min-height: 140px; height: auto; color: #ffffff !important;
    }

    .dark_ribbon_top_content{
        min-height: 100px; margin-top: 25px; margin-bottom: 25px;
    }

    .dark_ribbon_top_content_left{
        border-right: 1px solid #BFC0BF; 
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
/*This is the CSS for the top content area*/
    .top_content_area{
        position: absolute; border: 0px solid #ff0000; margin-top: -510px;
        background-color: transparent; min-height: 200px; height: auto; color: #ffffff !important;
    } 

/*This is the CSS for the dark ribbon*/
    .dark_ribbon{
        position: absolute; width: 100%; margin-top: -240px;opacity: 0.85; filter: alpha(opacity=85); /* For IE8 and earlier */
        background-color: #000000; min-height: 140px; height: auto; color: #ffffff !important;
    }

    .dark_ribbon_top_content{
        min-height: 100px; margin-top: 25px; margin-bottom: 25px;
    }

    .dark_ribbon_top_content_left{
        border-right: 1px solid #BFC0BF; 
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
/*This is the CSS for the top content area*/
    .top_content_area{
        position: absolute; border: 0px solid #ff0000; margin-top: -510px;
        background-color: transparent; min-height: 200px; height: auto; color: #ffffff !important;
    }

/*This is the CSS for the dark ribbon*/
    .dark_ribbon{
        position: absolute; width: 100%; margin-top: -240px;opacity: 0.85; filter: alpha(opacity=85); /* For IE8 and earlier */
        background-color: #000000; min-height: 140px; height: auto; color: #ffffff !important;
    }

    .dark_ribbon_top_content{
        min-height: 100px; margin-top: 25px; margin-bottom: 25px;
    }

    .dark_ribbon_top_content_left{
        border-right: 1px solid #BFC0BF; 
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
/*This is the CSS for the top content area*/
    .top_content_area{
        position: absolute; border: 0px solid #ff0000; margin-top: -510px;
        background-color: transparent; min-height: 200px; height: auto; color: #ffffff !important;
    }
    
/*This is the CSS for the dark ribbon*/
    .dark_ribbon{
        position: absolute; width: 100%; margin-top: -240px;opacity: 0.85; filter: alpha(opacity=85); /* For IE8 and earlier */
        background-color: #000000; min-height: 140px; height: auto; color: #ffffff !important;
    }

    .dark_ribbon_top_content{
        min-height: 100px; margin-top: 25px; margin-bottom: 25px;
    }

    .dark_ribbon_top_content_left{
        border-right: 1px solid #BFC0BF; 
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
